/*-- scss:defaults --*/

// Colors
$light-blue: #D1E5F4;
$pale-blue: #D7E5F0;
$darker-blue: #709FC0;
$cream: #FDFBF7;
$gray: #64605f;
$light-gray: #949799;
$dark-gray: #333333;
$rust: #B7410E;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$main-font-size: 25px;

// Widths 
$main-width: 500px;

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $darker-blue; // navbar foreground elements
$navbar-hl: $rust; // highlight color when hovering over navbar links
$body-bg: $pale-blue; // page background 
$body-color: $gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $rust; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $rust; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color




/*-- scss:rules --*/
h1, h2 {
  letter-spacing: 3px;
  font-weight: 1000;
  color: $dark-gray;
}


